In [1]:
import geopandas as gp
import os
import pandas as pd

In [2]:
## Get our two dataframes
year_subregions_path = os.path.join(os.getcwd(), "Resources", "Year_Subregions_Clean.csv")
geo_json_path = os.path.join(os.getcwd(), "Resources", "map_test.geojson")
year_subregions_df = pd.read_csv(year_subregions_path)
geo_json_df = gp.read_file(geo_json_path)
geo_json_df.head()

,GEO_ID,STATE,NAME,CENSUSAREA,Counter Strike: (2006),geometry
0,0400000US01,01,Alabama,50645.326000,100,"MULTIPOLYGON (((-88.12466 30.28364, -88.08681 ..."
1,0400000US02,02,Alaska,570640.950000,100,"MULTIPOLYGON (((-166.10574 53.98861, -166.0752..."
2,0400000US04,03,Arizona,113594.084000,100,"POLYGON ((-112.53859 37.00067, -112.53454 37.0..."
3,0400000US05,04,Arkansas,52035.477000,100,"POLYGON ((-94.04296 33.01922, -94.04304 33.079..."
4,0400000US06,05,California,155779.220000,100,"MULTIPOLYGON (((-122.42144 37.86997, -122.4213..."

In [3]:
geo_json_df = geo_json_df.drop(geo_json_df.columns[4], axis=1)
geo_json_df.head()

,GEO_ID,STATE,NAME,CENSUSAREA,geometry
0,0400000US01,01,Alabama,50645.326000,"MULTIPOLYGON (((-88.12466 30.28364, -88.08681 ..."
1,0400000US02,02,Alaska,570640.950000,"MULTIPOLYGON (((-166.10574 53.98861, -166.0752..."
2,0400000US04,03,Arizona,113594.084000,"POLYGON ((-112.53859 37.00067, -112.53454 37.0..."
3,0400000US05,04,Arkansas,52035.477000,"POLYGON ((-94.04296 33.01922, -94.04304 33.079..."
4,0400000US06,05,California,155779.220000,"MULTIPOLYGON (((-122.42144 37.86997, -122.4213..."

In [5]:
year_subregions_df = year_subregions_df.rename(columns = {"Region" : "NAME"})
year_subregions_df.head()

,NAME,CounterStrike:(2006),Fortnite:(2006),Dota2:(2006),LeagueofLegends:(2006),PUBG:(2006),CounterStrike:(2007),Fortnite:(2007),Dota2:(2007),LeagueofLegends:(2007),...,CounterStrike:(2020),Fortnite:(2020),Dota2:(2020),LeagueofLegends:(2020),PUBG:(2020),CounterStrike:(2021),Fortnite:(2021),Dota2:(2021),LeagueofLegends:(2021),PUBG:(2021)
0,Nevada,100,0,0,0,0,97,0,3,0,...,1,87,1,8,4,1,86,2,8,4
1,California,100,0,1,1,0,100,0,1,1,...,1,86,1,9,4,1,84,2,9,5
2,Wisconsin,100,0,0,0,0,99,0,0,1,...,1,90,1,6,3,1,88,1,7,4
3,Oregon,100,0,0,0,0,100,0,0,0,...,1,86,1,9,4,1,84,2,9,5
4,Washington,100,0,0,0,0,100,0,0,0,...,1,83,2,9,6,1,81,3,9,7

In [6]:
## Now we can merge
final_geojson = geo_json_df.merge(year_subregions_df, on='NAME')
final_geojson.head()

,GEO_ID,STATE,NAME,CENSUSAREA,geometry,CounterStrike:(2006),Fortnite:(2006),Dota2:(2006),LeagueofLegends:(2006),PUBG:(2006),...,CounterStrike:(2020),Fortnite:(2020),Dota2:(2020),LeagueofLegends:(2020),PUBG:(2020),CounterStrike:(2021),Fortnite:(2021),Dota2:(2021),LeagueofLegends:(2021),PUBG:(2021)
0,0400000US01,01,Alabama,50645.326000,"MULTIPOLYGON (((-88.12466 30.28364, -88.08681 ...",100,0,0,0,0,...,1,91,1,5,3,1,90,1,5,4
1,0400000US02,02,Alaska,570640.950000,"MULTIPOLYGON (((-166.10574 53.98861, -166.0752...",100,0,0,0,0,...,1,81,1,7,11,1,80,2,7,11
2,0400000US04,03,Arizona,113594.084000,"POLYGON ((-112.53859 37.00067, -112.53454 37.0...",99,0,1,0,0,...,1,89,1,6,4,1,87,1,8,4
3,0400000US05,04,Arkansas,52035.477000,"POLYGON ((-94.04296 33.01922, -94.04304 33.079...",100,0,0,0,0,...,1,90,1,5,5,1,88,1,6,5
4,0400000US06,05,California,155779.220000,"MULTIPOLYGON (((-122.42144 37.86997, -122.4213...",100,0,1,1,0,...,1,86,1,9,4,1,84,2,9,5

In [7]:
final_geojson.to_file('Resources/map_trends.geojson', driver='GeoJSON')