In [35]:
# Dependencies and Setup
import pandas as pd
import csv
import os
import numpy as np

## Load and Clean Data

In [36]:
# Files to Load
cont_code_path = os.path.join(os.getcwd(), "Resources", "country-and-continent-codes-list-cleaned.csv")
teams_path = os.path.join(os.getcwd(), "Resources", "highest_earning_teams.csv")
players_path = os.path.join(os.getcwd(), "Resources", "highest_earning_players.csv")
time_trends_path = os.path.join(os.getcwd(), "Resources", "time_trends.csv")
trends_path = os.path.join(os.getcwd(), "Resources", "trend_map.csv")
general_data_path = os.path.join(os.getcwd(), "Resources", "GeneralEsportData.csv")
historical_data_path = os.path.join(os.getcwd(), "Resources", "HistoricalEsportData.csv")

In [37]:
# Read Files and Store Into Pandas Data Frame
cont_code_df = pd.read_csv(cont_code_path)
teams_df = pd.read_csv(teams_path)
players_df = pd.read_csv(players_path)
time_trends_df = pd.read_csv(time_trends_path)
trends_geo_df = pd.read_csv(trends_path)
general_data_df = pd.read_csv(general_data_path, encoding='cp1252')
historical_data_df = pd.read_csv(historical_data_path, encoding='cp1252')

In [38]:
## Look at our data
cont_code_df.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,Afghanistan,AF,AFG,4.0
1,Europe,EU,Albania,AL,ALB,8.0
2,Antarctica,AN,Antarctica,AQ,ATA,10.0
3,Africa,AF,Algeria,DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0

In [39]:
teams_df.head()

,TeamId,TeamName,TotalUSDPrize,TotalTournaments,Game,Genre
0,760,San Francisco Shock,3105000.0,7,Overwatch,First-Person Shooter
1,776,London Spitfire,1591136.5,13,Overwatch,First-Person Shooter
2,768,New York Excelsior,1572618.5,18,Overwatch,First-Person Shooter
3,773,Philadelphia Fusion,1186278.5,15,Overwatch,First-Person Shooter
4,766,Seoul Dynasty,1130000.0,6,Overwatch,First-Person Shooter

In [40]:
players_df.head()

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
0,3883,Peter,Rasmussen,dupreeh,dk,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
1,3679,Andreas,Højsleth,Xyp9x,dk,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,Nicolai,Reedtz,dev1ce,dk,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,Lukas,Rossander,gla1ve,dk,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,Emil,Reif,Magisk,dk,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter

In [41]:
time_trends_df = time_trends_df.drop([0])
## Need to fix headers
new_header = time_trends_df.iloc[0]
time_trends_df = time_trends_df[1:]
time_trends_df.columns = new_header
time_trends_df = time_trends_df.rename(columns={"League of Legends: (Worldwide)" : "League_of_Legends", 
                                              "Dota 2: (Worldwide)" : "Dota_2",
                                              "Fortnite: (Worldwide)" : "Fortnite",
                                              "PlayerUnknown's Battlegrounds: (Worldwide)" : "PUBG",
                                              "Counter-Strike: Global Offensive: (Worldwide)" : "CSGO"
                                             })
time_trends_df.head()

1       Week League_of_Legends Dota_2 Fortnite PUBG CSGO
2   9/6/2020                26      5       74   76   11
3  9/13/2020                26      5       72   53   11
4  9/20/2020                27      5       72   45   11
5  9/27/2020                31      4       65   41   11
6  10/4/2020                30      4       57   39   10

In [42]:
trends_geo_df = trends_geo_df.drop([0])
## Need to fix headers
new_header = trends_geo_df.iloc[0]
trends_geo_df = trends_geo_df[1:]
trends_geo_df.columns = new_header
trends_geo_df = trends_geo_df.rename(columns={"League of Legends: (9/1/20 - 9/1/21)" : "League_of_Legends", 
                                              "Dota 2: (9/1/20 - 9/1/21)" : "Dota_2",
                                              "Fortnite: (9/1/20 - 9/1/21)" : "Fortnite",
                                              "PlayerUnknown's Battlegrounds: (9/1/20 - 9/1/21)" : "PUBG",
                                              "Counter-Strike: Global Offensive: (9/1/20 - 9/1/21)" : "CSGO"
                                             })
trends_geo_df.head()

1         Albania League_of_Legends Dota_2 Fortnite  PUBG CSGO
2         Algeria               <1%    <1%       9%   91%  <1%
3  American Samoa                2%     1%       3%   94%  <1%
4         Andorra                8%    11%       3%   75%   3%
5          Angola               NaN    NaN      NaN  100%  NaN
6        Anguilla                1%    <1%       7%   92%  <1%

In [43]:

general_data_df.drop(columns = ["Genre"]).head()

,Game,ReleaseDate,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,190262.81,156839.89,255,96
1,Age of Empires II,1999,2008941.78,619582.87,1392,1031
2,Age of Empires III,2005,68613.85,41500.00,108,77
3,Age of Empires Online,2011,4853.56,775.00,20,13
4,Age of Mythology,2002,52360.00,52000.00,22,6

## Create Database

In [44]:
## Dependencies
from sqlalchemy import create_engine
from hiddenConfig import password
import psycopg2

In [45]:
## establishing the connection with database. This checks whether or not the database exists before creation. If it is,
## it will tell you. Then move onto the next cell
conn = None
try:
    conn = psycopg2.connect(
       database="postgres", user='postgres', password=password, host='127.0.0.1', port= '5432'
    )

except:
    print('Database not connected.')
    
if conn is not None:
    conn.autocommit = True

    #Creating a cursor object
    cursor = conn.cursor()

    cursor.execute("SELECT datname FROM pg_database;")
    
    list_database = cursor.fetchall()
    database_name = 'esports_db'
    
    if (database_name,) in list_database:
        print(f"'{database_name}' Database already exists")
    else:
        #Preparing query to create a database
        sql = '''CREATE database esports_db''';

        #Creating a database
        cursor.execute(sql)
        print("Database created successfully!")

#Closing the connection
conn.close()

'esports_db' Database already exists

In [46]:
## Connect to local database
rds_connection_string = f"postgres:{password}@localhost:5432/esports_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [47]:
## Check to see if there are any tables already in the database
engine.table_names()

C:\Users\1800h\AppData\Local\Temp/ipykernel_27660/2263100480.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['cont_code_data',
 'team_data',
 'trends_geo_data',
 'player_data',
 'time_trends_data',
 'general_data',
 'historical_data',
 'grouped_game_data',
 'grouped_bar_race_data']

#### Load the dataframes into our database

In [48]:
cont_code_df.to_sql(name='cont_code_data', con=engine, if_exists='replace', index=False)
teams_df.to_sql(name='team_data', con=engine, if_exists='replace', index=False)
trends_geo_df.to_sql(name='trends_geo_data', con=engine, if_exists='replace', index=False)
players_df.to_sql(name='player_data', con=engine, if_exists='replace', index=False)
time_trends_df.to_sql(name='time_trends_data', con=engine, if_exists='replace', index=False)
general_data_df.to_sql(name='general_data', con=engine, if_exists='replace', index=False)
historical_data_df.to_sql(name='historical_data', con=engine, if_exists='replace', index=False)

#### Check to make sure it worked OK

In [61]:
historical_data_df['Game'].unique()

array(['QuakeWorld', 'Quake II', 'StarCraft: Brood War', 'Age of Empires',
       'Descent 3', 'Quake III Arena', 'Age of Empires II',
       'Marvel vs. Capcom 2', 'Street Fighter Alpha 2',
       'Street Fighter Alpha 3', 'Street Fighter III: 3rd Strike',
       'Super Street Fighter II Turbo', 'FIFA 2000',
       'Doom II: Hell on Earth', 'Counter-Strike', 'Capcom vs. SNK',
       'FIFA 2001', 'Unreal Tournament', 'Aliens versus Predator 2',
       'Super Smash Bros. Melee', 'Return to Castle Wolfenstein',
       'Capcom vs. SNK 2', 'FIFA 2002 World Cup', 'Halo: Combat Evolved',
       'Unreal Tournament 2003', 'WarCraft III', 'NASCAR Thunder 2002',
       'Star Wars Jedi Knight II: Jedi Outcast', 'Tekken 4',
       'NASCAR Thunder 2003', 'FIFA 03', 'Guilty Gear XX',
       'Soul Calibur II', 'Tekken Tag Tournament',
       'Virtua Fighter 4: Evolution', 'Age of Mythology',
       'Gran Turismo 3: A-Spec', 'Madden NFL 2004', 'Live for Speed',
       'FIFA 04', 'Counter-Strike: Condition Zero',
       'Pro Evolution Soccer 3', 'Painkiller', 'Unreal Tournament 2004',
       'Doom 3', 'Call of Duty', 'Need for Speed: Underground',
       'Project Gotham Racing 2', 'Day of Defeat', 'FIFA 05', 'Halo 2',
       'Counter-Strike: Source', 'Need for Speed: Underground 2',
       'Pro Evolution Soccer 4', 'Gran Turismo 4',
       'Wolfenstein: Enemy Territory', 'Quake 4', 'Battlefield 2',
       'Guilty Gear XX #Reload', 'Tekken 5',
       'Warhammer 40,000: Dawn of War', 'Dead or Alive Ultimate',
       'Defense of the Ancients', 'FIFA 06',
       'Need for Speed: Most Wanted', 'Madden NFL 2006', 'Call of Duty 2',
       'Pro Evolution Soccer 5', 'TrackMania Nations', 'Dead or Alive 4',
       'Forza Motorsport 2', 'Project Gotham Racing 3',
       'Ghost Recon Advanced Warfighter', 'Guilty Gear XX Slash',
       'Hyper Street Fighter II', 'FIFA 07', 'Madden NFL 2007',
       'Rise of Nations: Rise of Legends', 'Need for Speed Carbon',
       'World of WarCraft', 'Battlefield 2142', 'Rainbow Six: Vegas',
       'Command & Conquer 3', 'S.T.A.L.K.E.R.: Shadow of Chernobyl',
       'Supreme Commander', 'Day of Defeat: Source', 'F.E.A.R.',
       'World in Conflict', 'Pro Evolution Soccer 6', 'Super Smash Bros.',
       'Gears of War', 'Enemy Territory: Quake Wars',
       'Guilty Gear XX Accent Core', 'Tekken 5: Dark Resurrection',
       'Virtua Fighter 5', 'Shadowrun', 'Madden NFL 2008',
       'Age of Empires III', 'Carom 3D', 'Crysis',
       'Call of Duty 4: Modern Warfare', 'Team Fortress 2', 'FIFA 08',
       'Trackmania United', 'Halo 3', 'Unreal Tournament 3',
       'Need for Speed: ProStreet', 'Project Gotham Racing 4',
       'Pro Evolution Soccer 2008', 'Supreme Commander: Forged Alliance',
       'TrackMania Nations Forever', 'Super Smash Bros. Brawl',
       'Guitar Hero III: Legends of Rock', 'Rainbow Six: Vegas 2',
       'Quake Live', 'Madden NFL 2009', 'Red Stone', 'Asphalt 4',
       'FIFA 09', 'Resistance 2', 'Gears of War 2', 'King of Fighters XI',
       'Street Fighter IV', 'Super Street Fighter II Turbo HD Remix',
       'Guilty Gear XX Accent Core Plus', 'Pro Evolution Soccer 2009',
       'BlazBlue: Calamity Trigger', 'Magic: The Gathering Online',
       'Wise Star 2', 'Call of Duty: Modern Warfare 2', 'Special Force',
       'FIFA 10', 'StarCraft II',
       'Tatsunoko vs. Capcom: Ultimate All-Stars', 'Tekken 6',
       'Heroes of Newerth', 'KartRider', 'Super Street Fighter IV',
       'Guitar Hero 5', 'Need for Speed: Shift',
       'Melty Blood: Actress Again', 'League of Legends', 'FIFA 11',
       'Multigaming', 'iRacing.com', 'Forza Motorsport 3', 'rFactor',
       'CrossFire', 'Halo: Reach', 'Call of Duty: Black Ops',
       'Mortal Kombat vs. DC Universe', 'Ultimate Mortal Kombat 3',
       'Mortal Kombat 9', 'Marvel vs. Capcom 3',
       'Super Street Fighter IV Arcade Edition', 'Bloodline Champions',
       'BlazBlue: Continuum Shift II', 'TrackMania 2: Canyon',
       'Arcana Heart 3', 'Soul Calibur IV', 'Project M',
       'Age of Empires Online', 'Dota 2',
       'Call of Duty: Modern Warfare 3', 'FIFA 12',
       'Ultimate Marvel vs. Capcom 3', 'World of Tanks', 'NHL 12',
       'Tekken Tag Tournament 2', 'Forza Motorsport 4', 'Soul Calibur V',
       'King of Fighters XIII', 'Street Fighter X Tekken',
       'Battlefield 3', 'Point Blank', 'Gears of War 3',
       'Counter-Strike: Global Offensive', 'Counter-Strike Online',
       'Persona 4 Arena', 'FIFA 13', 'Call of Duty: Black Ops 2',
       'Dead or Alive 5', 'Halo 4', 'ShootMania Storm', 'Madden NFL 2013',
       'NHL 13', 'TrackMania 2: Stadium', 'Injustice: Gods Among Us',
       'Turbo Racing League', 'BlazBlue: Continuum Shift Extend',
       'Divekick', 'Skullgirls', 'SMITE', 'S.K.I.L.L. - Special Force 2',
       'Dragon Ball Z: Budokai 3', 'FIFA 14', 'Dead or Alive 5 Ultimate',
       'Trackmania 2: Valley', 'Hearthstone', 'Call of Duty: Ghosts',
       'Battlefield 4', 'Killer Instinct (2013)', 'NHL 14',
       'BlazBlue: Chronophantasma', 'Guilty Gear XX Accent Core Plus R',
       'Attack on Titan Tribute Game', 'Skullgirls Encore',
       'Soul Calibur II HD Online', 'Ultra Street Fighter IV',
       'Virtua Fighter 5 Final Showdown', 'Pro Evolution Soccer 2014',
       'Halo 2 Anniversary', 'Under Night In-Birth EXE: Late', 'FIFA 15',
       'rFactor 2', 'Chess.com', 'Xonotic', 'Super Smash Bros. for Wii U',
       'Persona 4 Arena Ultimax', 'Call of Duty: Advanced Warfare',
       'Guild Wars 2', 'Heroes of the Storm', 'Just Dance 2014',
       'Guilty Gear Xrd -SIGN-', 'Dead or Alive 5: Last Round', 'NHL 15',
       'Evolve', 'FIFA Online 3', 'Mortal Kombat X',
       'Battlefield Hardline', 'Legend of Glory', 'Reflex',
       'Pro Evolution Soccer 2015', 'BlazBlue: Chronophantasma Extend',
       'Tekken 7', 'Brawlhalla', 'Vainglory', 'Halo 5: Guardians',
       'Rocket League', 'Splatoon', 'H1Z1', "NHL '94", 'Grey Goo',
       'FIFA 16', 'Shards of War', 'Rising Thunder', 'Tetris',
       'Project Cars', 'Nitroplus Blasterz: Heroines Infinite Duel',
       'Dengeki Bunko: Fighting Climax', 'Blade & Soul',
       'Call of Duty: Black Ops III', 'Overwatch',
       'Unreal Tournament (2016)', 'osu!',
       'Gears of War: Ultimate Edition', 'Metal Gear Online',
       'Rainbow Six Siege', 'Street Fighter V', 'Old School Runescape',
       'Pokk<U+00E9>n Tournament', 'Clash Royale',
       'Naruto Shippuden: Ultimate Ninja Storm 4', 'Trackmania Turbo',
       'Rivals of Aether', 'Guilty Gear Xrd -REVELATOR-',
       'Pro Evolution Soccer 2016', 'Vampire Savior',
       'King of Fighters 2002 Unlimited Match',
       'Dengeki Bunko: Fighting Climax Ignition', 'Paladins',
       'Madden NFL 2016', 'Mortal Kombat XL',
       "Uncharted 4: A Thief's End", 'King of Fighters XIV', 'Battlerite',
       'Gears of War 4', 'FIFA 17', 'BlazBlue: Central Fiction',
       'Pro Evolution Soccer 2017', 'Skullgirls 2nd Encore',
       'Melty Blood: Actress Again Current Code', 'Catherine',
       'Koihime Enbu', 'Arcana Heart 3: LOVE MAX!!!!!',
       'Aquapazza: Aquaplus Dream Match', 'Forza Motorsport 6',
       'MechWarrior Online', 'Call of Duty: Infinite Warfare',
       'Madden NFL 2017', 'MOBA Legends', 'Mad Skills Motocross 2',
       'ComPet', 'Mystery Game Tournament', 'Tetris Ultimate',
       'Critical Ops', 'Yu-Gi-Oh! Duel Links', 'Gwent', 'Injustice 2',
       'Guilty Gear Xrd REV 2', 'Quake Champions', 'Heavy Metal Machines',
       'Hand of the Gods', 'Company of Heroes 2', 'ARMS',
       'PLAYERUNKNOWN’S BATTLEGROUNDS', 'Pok<U+00E9>mon VGC',
       'Doom (2016)', 'Rage', 'The Elder Scrolls: Legends',
       'Under Night In-Birth EXE: Late[st]', 'Splatoon 2',
       'Marvel vs. Capcom: Infinite', 'Pokk<U+00E9>n Tournament DX',
       'Gundam Versus', 'Puyo Puyo Tetris',
       'Chaos Code: New Sign of Catastrophe', 'Clash of Clans',
       'Windjammers', 'Arena of Valor', 'Call of Duty: World War II',
       'World of Tanks Blitz', 'FIFA 18', 'Madden NFL 2018',
       'Shadowverse', 'Power Rangers: Legacy Wars',
       'Street Fighter V: Arcade Edition', 'Lichess',
       'Arcana Heart 3: Love Max Six Stars!!!!!', 'Fortnite', 'NHL 18',
       'Faeria', 'Dragon Ball FighterZ', 'BlazBlue: Cross Tag Battle',
       'Warsow', 'Zula', 'Project Cars 2', 'Battalion 1944',
       'Radical Heights', 'NBA 2K18', 'RaceRoom Racing Experience',
       'Sailor Moon S', 'Garou: Mark of the Wolves',
       'Samurai Shodown V Special', 'Forza Motorsport 7', 'Warface',
       'Pro Evolution Soccer 2018', 'Realm Royale', 'Guns of Boom',
       'Gran Turismo Sport', 'Fighting EX Layer', 'Soul Calibur VI',
       'SNK Heroines: Tag Team Frenzy', 'Call of Duty: Black Ops 4',
       'Call of Duty: Blackout', "PLAYERUNKNOWN'S BATTLEGROUNDS Mobile",
       'FIFA 19', 'Assetto Corsa', 'NHL 19', 'Black Squad',
       'Street Fighter EX2 Plus', 'Artifact Classic', 'FIFA Online 4',
       'F1 2018', 'Creative Destruction', 'Super Smash Bros. Ultimate',
       'Madden NFL 19', 'Magic: The Gathering Arena', 'Minecraft',
       'Mario Kart 8 Deluxe', 'Super Mario Party', 'Lethal League Blaze',
       'Mario Tennis Aces', 'Apex Legends', 'Stardew Valley',
       'Dead or Alive 6', 'Auto Chess', 'Million Arthur: Arcana Blood',
       'The Division 2', 'Free Fire', 'Sekiro: Shadows Die Twice',
       'Mortal Kombat 11', 'Splitgate: Arena Warfare',
       'Puyo Puyo Champions', 'Warparty', 'King of Fighters 98',
       'Teenage Mutant Ninja Turtles: Tournament Fighters',
       'Pro Evolution Soccer 2019', 'Brawl Stars', 'Mordhau',
       'Samurai Shodown (2019)', 'Dota Underlords', 'Teamfight Tactics',
       'Power Rangers: Battle for the Grid', 'Ring of Elysium', 'Gears 5',
       'Sea of Thieves', 'Farming Simulator 19',
       'Virtua Fighter 5: Ultimate Showdown', 'Asphalt 9: Legends',
       'FIFA 20', 'Kill la Kill the Game: IF', 'Ultra Fight Da! Kyanta 2',
       "Fighter's History Dynamite", 'Catherine: Full Body',
       'Project Justice', 'Hokuto no Ken', 'Umineko: Golden Fantasia',
       'Guilty Gear', 'Borderlands 3', 'Acceleration of SUGURI 2',
       "Them's Fightin' Herds", 'Big Buck Hunter Arcade', 'WWE 2K20',
       'Dead By Daylight', 'Call of Duty: Modern Warfare', 'F1 2019',
       'TEPPEN', 'GRID (2019)', 'Shovel Knight Showdown', 'UNO',
       'Dirt Rally 2.0', 'Fantasy Strike', 'WarCraft III: Reforged',
       'Touhou Hisoutensoku ~ Choudokyuu Ginyoru no Nazo o Oe',
       'Street Fighter V: Champion Edition',
       'Under Night In-Birth Exe:Late[cl-r]', 'Magical Drop III',
       'Call of Duty: Warzone', 'Legends of Runeterra', 'Diabotical',
       'Granblue Fantasy: Versus', 'VALORANT', 'Escape from Tarkov',
       'chess24', 'Assetto Corsa Competizione', 'Tetr.io',
       'Playchess.com', 'Prophecy', 'Beat Aim', 'Internet Chess Club',
       'SLAYERS FOR HIRE', 'Punch Planet', 'Slap City', 'Duck Game',
       'Maiden & Spell', 'Naruto: Gekitou Ninja Taisen! 4',
       'Def Jam: Fight for NY', 'Schwarzerblitz', 'Twinkle Star Sprites',
       'Digimon Rumble Arena', 'Pocket Rumble', 'Fight of Animals',
       'HYPERFIGHT', "JoJo's Bizarre Adventure: Heritage for the Future",
       'Power Instinct: Matrimelee', 'Roof Rage', 'Shrek SuperSlam',
       'Speedrunners', 'Panel Attack', 'Samurai Shodown III',
       'Akatsuki Blitzkampf', 'Project Plus', 'The Last Blade 2',
       'Asuka 120% LimitOver BURNING Fest.', 'Eternal Fighter Zero',
       'Hyper Scape', 'NASCAR Heat 4', 'Rocket Arena',
       'Trackmania (2020)', 'Artifact Foundry', 'Fall Guys', 'Jstris',
       'Cultris II', 'Breakers Revenge', 'Rushdown Revolt', 'Spellbreak',
       'Among Us', 'Identity V', 'Hearthstone Battlegrounds', 'F1 2020',
       'NBA 2K21', 'Call of Duty: Black Ops Cold War', 'Smash Remix',
       'Kirby Fighters 2', 'Rogue Company', 'Zwift', 'Nascar Heat 5',
       'Star Wars: Squadrons', 'Mobile Legends: Bang Bang', 'FIFA 21',
       'Mighty Fight Federation',
       'Mobile Suit Gundam: Extreme Vs Maxi Boost ON', 'Red Earth',
       'Toribash', 'Tough Love Arena', 'Mythgard', 'DOOMBRINGER',
       'Call of Duty: Mobile', 'Tetris Effect: Connected',
       'League of Legends: Wild Rift', 'Guilty Gear -STRIVE-',
       'Chex Quest', 'Blaston'], dtype=object)

In [49]:
engine.execute('select * from cont_code_data').first()

('Asia', 'AS', 'Afghanistan', 'AF', 'AFG', 4.0)

In [50]:
engine.execute('select * from team_data').first()

(760, 'San Francisco Shock', 3105000.0, 7, 'Overwatch', 'First-Person Shooter')

In [51]:
engine.execute('select * from trends_geo_data').first()

('Algeria', '<1%', '<1%', '9%', '91%', '<1%')

In [52]:
engine.execute('select * from player_data').first()

(3883, 'Peter', 'Rasmussen', 'dupreeh', 'dk', 1822989.41, 'Counter-Strike: Global Offensive', 'First-Person Shooter')

In [53]:
engine.execute('select * from time_trends_data').first()

('9/6/2020', '26', '5', '74', '76', '11')